registry=https://pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/
always-auth=true
; begin auth token 
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/:username=nassa
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/:_password=YnRlaW5yaWZlZGpqNWJvNHluc3MzcnY0YzR6NW8yYXlsZnBvcGxxMmxsdTZxY2FlcWZvcQ==
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/:email=jperez@assanet.com
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/:username=nassa
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/:_password=YnRlaW5yaWZlZGpqNWJvNHluc3MzcnY0YzR6NW8yYXlsZnBvcGxxMmxsdTZxY2FlcWZvcQ==
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/:email=jperez@assanet.com
; end auth token
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E7579F65-10A8-43BB-B27D-62B6572341FD